@charset "UTF-8";

html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section,summary{display:block}
audio, canvas, progress, video{display:inline-block}
audio:not([controls]){display:none;height:0}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';}
img{vertical-align:top}
mark{background:#ff0;color:#000}
del{text-decoration:line-through}
abbr[title], dfn[title]{cursor:help}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}
input, select, button, textarea, optgroup{margin:0;vertical-align:middle;font:inherit;color:inherit}
button{display:inline-block;border:0;cursor:pointer;margin:0;padding:0;font-family:inherit;outline:none;overflow:visible;background:transparent}
button::-moz-focus-inner{padding:0;border:0}
label{vertical-align:middle}
i, em, address{font-style:normal}
a, a:link, a:visited, a:active, a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0;width:100%}
input{line-height:normal}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
input, textarea, button, select{box-sizing:border-box}
textarea{resize:none;border:1px solid #ebebeb}
textarea:focus{outline: none;}
input[type="text"], input[type="password"],input[type="file"]{border-radius:0}
button, input[type="reset"],
input[type="button"], input[type="submit"]{overflow:visible;-webkit-appearance:none;border-radius:0;cursor:pointer}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
::placeholder{color:#999999;letter-spacing: -0.053rem; opacity:1}
::-webkit-input-placeholder{color:#999999;letter-spacing: -0.053rem;}
::-moz-placeholder{color:#999999;letter-spacing: -0.053rem;}
:-ms-input-placeholder{color: #999999;letter-spacing: -0.053rem;}
:-moz-placeholder{color:#999999;letter-spacing: -0.053rem;}
select{-webkit-appearance:none;appearance:none;}

a,
a:link,
a:visited,
a:active,
a:hover{color:inherit;}

caption,
.blind{overflow:hidden;position:absolute;top:-1px;left:-1px;z-index:-1;width:1px;height:0px;line-height:0;white-space:nowrap;text-indent:-9999px;}

.skip-navi a{display:block;position:absolute;left:0;top:0;overflow:hidden;width:1px;height:1px;text-align:center;color:#fff;z-index:101;}
.skip-navi a:focus,
.skip-navi a:active{padding:5px 0;width:100%;height:auto;background:#000;}
